# Test: Database Management

## 1. Create Database

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()
 
                  
if __name__ == '__main__':
    create_connection('testdata.db')

2.6.0

## 2. Create Tables

In [3]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)

        return conn
    except Error as e:
        print(e)
 
    return None

In [4]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

-----------------

Table Name : projects

----------------
- code (pk) 
- name
- price
- begin_date
- end_date
-----------------

In [5]:
database = 'testdata.db'

In [6]:
sql_create_table_test = """ CREATE TABLE IF NOT EXISTS projects (
                                        code text PRIMARY KEY,
                                        name text NOT NULL,
                                        price REAL,
                                        date text
                                    ); """

In [7]:
conn = create_connection(database)

In [8]:
if conn is not None:
    # create projects table
    create_table(conn, sql_create_table_test)
else:
    print("Error! cannot create the database connection.")

## 3. Inserting Data

To insert rows into a table in SQLite database, you use the following steps:

* First, connect to the SQLite database by creating a Connection object.
* Second, create a Cursor object by calling the cursor method of the Connection object.
* Third, execute an INSERT statement. If you want to pass arguments to the INSERT statement, you use the question mark (?) as the placeholder for each argument.

In [11]:
#  develop a function to insert a new project into the projects table.
def create_project(conn, project):
    """
    Create a new project into the projects table
    :param conn:
    :param project:
    :return: project id
    """
    sql = ''' INSERT INTO projects(code, name, price, date)
              VALUES(?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, project)
    return cur.lastrowid

In [12]:
# create a database connection
conn = create_connection(database)
with conn:
    # create a new project
    project = ('A999999', 'firm_1', 24500.21, '2015-01-30');
    project_id = create_project(conn, project)

## 4. Find Data

In [13]:
conn = sqlite3.connect('testdata.db')

In [14]:
c = conn.cursor()

In [15]:
c.execute("SELECT * FROM projects")

In [16]:
print(c.fetchone())

('A999999', 'firm_1', 24500.21, '2015-01-30')